@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

//| variables
$darkBlack: #000000;
$fadeBlack: rgba(0, 0, 0, 0.6);

.App {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-flow: column;
  //   logo
  .logo {
    background-color: $darkBlack;
    padding: 1rem 0;
    h1 {
      text-align: center;
      color: whitesmoke;
      letter-spacing: 1px;
    }
  }
  //   Add todo
  .addTodo {
    cursor: pointer;
    align-self: center;
    height: 100px;
    aspect-ratio: 1;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 3rem;
    border-radius: 50%;
    border: 2px solid $fadeBlack;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.425);
    transition: all 0.5s ease-in-out;
    &:hover {
      outline: 20px solid rgba(0, 0, 0, 0.103);
      transition: all 0.5s ease-in-out;
    }
  }
  //   all Todos
  .All-Todos {
    padding:0 2rem 2rem;
    margin-top: 3rem;
    max-width: 100%;
    .Todos {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-auto-flow: row dense;
      grid-gap: 2rem;      
      @media screen and (min-width: 1100px) {
        grid-template-columns: repeat(4,1fr);        
      }
      @media screen and (min-width: 1000px) {
        grid-template-columns: repeat(4,1fr);        
      }
      @media screen and (max-width: 800px) {
        grid-template-columns:1fr;
        justify-items: center;
      }
      .Todo-card {
        // cursor: pointer;
        position: relative;
        max-height: 20rem;
        max-width: 20rem;
        overflow-wrap: break-word;
        display: flex;
        flex-flow: column;
        background: linear-gradient(to right, #cb356b, #bd3f32);
        padding: 1rem;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
          rgba(0, 0, 0, 0.23) 0px 6px 6px;

        gap: 1rem;
        transition: all 0.3s ease-in-out;
        @media screen and (max-width: 500px){
          width: 100%;
        }
        .heading {
          font-size: 1.2rem;
        }
        .description {
          font-size: 1rem;
          overflow-y: visible;
        }
        .created {
          font-size: 0.8rem;
        }
        &:hover {
          transform: scale(1.09);
        }
        .close-card {
          cursor: pointer;
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
          background: transparent;
          border: none;
          transition: all 0.2s ease-in;          
          &:hover {
            background: black;
          }
          img {
            height: 1.5rem;
          }
        }
      }
    }
  }
}

.Todo-Form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 40rem;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  display: none;
  flex-flow: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    @media screen and (max-width: 500px){
      width: 90%;
    }
  .create-heading {
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: 1px;
    background: linear-gradient(to right, #134e5e, #71b280);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  #heading {
    height: 3rem;
    padding: 0.2rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
  }
  #description {
    max-width: 100%;
    max-height: 10rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
  }
  .createdFor {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    & > span {
      font-size: 0.9rem;
      color: rgb(204, 204, 204);
    }
    div span {
      font-size: 0.8rem;
      color: rgb(134, 134, 134);
      margin-left: 1rem;
    }
  }
  #time {
    align-self: flex-start;
    height: 3rem;
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
  }
  .add {
    align-self: center;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    border: none;
    background: #659999;
    color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 0.3s ease-in-out;
    &:hover {
      padding: 0.7rem 2rem;
    }
  }
  .close {
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    background: transparent;
    border: none;
    img {
      height: 2rem;
      aspect-ratio: 1;
    }
  }
}

// Utilities
.activeForm {
  display: flex;
}
.overlay {
  z-index: 10;
  background: rgba(0, 0, 0, 0.514);  
}

.noTodos {
  width: 100vw;
  text-align: center;
  font-size: 1rem;
  color: $fadeBlack;
}
